
*
{
    margin:  0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url("bg_img03.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: monospace;
}

.titel {
    position: relative;
    margin-left: 300px;
    top: 300px;
    text-align: center;
}

h1 {
    color: white;
    font-size: 40px;
    text-align: center;
}

#bol {
    border: 0px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: red;
    text-align: center;
    margin-left: 700px;
    margin-top: 400px;
}

p.timerTekst {
    margin-top: 25px;
}

